body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   /* Ensure the page is tall enough to scroll */
    overflow-x: hidden;
}

.hero-section {
    position: relative;
    height: 100vh;
    background-image: url('images/home_hero_dark_a5ec9a89de.webp');
    background-size: cover;
    position: inherit;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed */
    transition: filter 0.5s ease-in-out; /* Smooth transition for brightness */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition for opacity and scale */
}

.content-section {
    padding: 20px;
    background-color: white;
}
.content h1 {

    color: rgb(228, 141, 126);
    font-size: 50px;
    letter-spacing: 3px;

}
.content h2 {

    color: rgb(228, 141, 126);
    font-size: 40px;
    margin-top: 120px;
   letter-spacing: 3px;
}
.content p{
    color: rgb(228, 141, 126);

    font-size: 30px;
    letter-spacing:2px;
}
#btn1{

    background-color: rgb(233, 175, 160);
    padding: 20px;
    border-radius: 30px;
}
#btn2{

    background-color: rgb(233, 175, 160);
    padding: 20px 30px;
    border-radius: 30px;
}
header {
    background-color: #1a1a1a;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background-color: #392e6b;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #392e6b;
}

.logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 50;
}

nav ul li a:hover {
    text-decoration: underline;
}
/*2nd Section*/
.SecondSection{
height: 100vh;
background-color: rgb(218, 185, 200);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.content2{
    display: flex;
    text-align: center;
    width: 60%;
    margin-top: 300px;
    flex-direction: column;
}
.content2 h2{

    color: #fff;
    word-spacing: 2px;
    font-size: 25px;
}
.content2 p {
    line-height: 2;
    font-size: 20px;
    letter-spacing: 2px;
}
.feature{
    display: flex;
    height: 300vh;
    
}
.featureimage{
width: 50%;
height :100vh;


display: block;
background-color: #392e6b;
flex-direction: column;
}
.featureimage img{
    width: 200px;
    margin-left: 590px;
    

}
#f-img3{
    flex-direction: column;
    width: 100px;
    margin-left: 600px;
}
#f-img1{
    margin-top: 200px;
}
.featuretitle{

    width:50%;

}